@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f0f0f0;
	font-family: "Montserrat Alternates", sans-serif;
	color: rgb(53, 53, 53);
	line-height: 1.5;
}

.router-link-active {
	background-color: rgb(54, 187, 154);
	font-weight: 600;
	color: white !important;
}

/* **************** HEADER STYLES ******************* */
header {
	background-color: rgb(54, 187, 154);
}

.header-container {
	color: white;
	max-width: 1440px;
	width: 90%;
	margin: auto;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container h2 {
	margin-left: 0.4rem;
}

.menu {
	cursor: pointer;
}

.actions {
	width: 70%;
	margin: auto;
	text-align: center;
}

.actions li {
	list-style: none;
	padding: 0.3rem;
	color: white;
}

/* **************** FORM STYLES ******************* */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem 2rem;
}

.modal {
	width: 80%;
	max-width: 35rem;
	background-color: white;
	border-radius: 10px;
}

input {
	width: 100%;
	height: 2rem;
	border: none;
	border-bottom: 1px solid rgba(53, 53, 53, 0.5);
	line-height: 1.5;
	font-family: "Montserrat Alternates", sans-serif;
	padding: 0.1rem 0.2rem;
}

input:focus {
	outline-color: rgba(53, 53, 53, 0.5);
}

.form-message {
	font-size: 0.7rem;
	margin-top: 0.2rem;
}

.btn-container {
	padding: 1rem 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

button {
	border: 1px solid rgb(54, 187, 154);
	border-radius: 5px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	font-weight: 600;
}

button[type="submit"] {
	background-color: rgb(54, 187, 154);
	margin-left: 1rem;
	color: white;
}

button[type="reset"] {
	background-color: white;
	margin-left: 1rem;
	padding: 0.5rem 1rem;
	color: rgb(54, 187, 154);
}
