@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap");

:root {
	--color-primary: rgb(54, 187, 154);
	--color-primary-light: rgba(54, 187, 154, 0.6);
	--color-text: rgb(53, 53, 53);
	--color-text-light: rgba(53, 53, 53, 0.5);
	--color-background: #f0f0f0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	font-family: "Montserrat Alternates", sans-serif;
	color: var(--color-text);
	line-height: 1.5;
}

.router-link-active {
	background-color: var(--color-primary);
	font-weight: 600;
	color: white !important;
}

/* **************** HEADER STYLES ******************* */
header {
	background-color: var(--color-primary);
}

.header-container {
	color: white;
	max-width: 1440px;
	width: 90%;
	margin: auto;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	display: flex;
	align-items: center;
}

.logo-container h2 {
	margin-left: 0.4rem;
}

.menu {
	cursor: pointer;
}

.actions {
	width: 70%;
	margin: auto;
	text-align: center;
}

.actions li {
	list-style: none;
	padding: 0.3rem;
	color: white;
	cursor: pointer;
}

/* **************** FORM STYLES ******************* */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem 2rem;
}

.modal {
	width: 90%;
	max-width: 35rem;
	background-color: white;
	border-radius: 10px;
	margin: 0 auto;
}

input {
	width: 100%;
	height: 2rem;
	border: none;
	border-bottom: 1px solid rgba(53, 53, 53, 0.5);
	line-height: 1.5;
	font-family: "Montserrat Alternates", sans-serif;
	padding: 0.1rem 0.2rem;
}

input:focus {
	outline-color: rgba(53, 53, 53, 0.5);
}

.form-message {
	font-size: 0.7rem;
	margin-top: 0.2rem;
}

.error-message {
	font-size: 0.7rem;
	margin-top: 0.2rem;
	color: rgb(241, 67, 67);
}

.btn-container {
	padding: 1rem 2rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

textarea {
	width: 100%;
	color: rgb(53, 53, 53);
	font-family: "Montserrat Alternates", sans-serif;
	padding: 0.1rem 0.2rem;
	outline-color: rgba(53, 53, 53, 0.5);
}

button {
	border: 1px solid var(--color-primary);
	border-radius: 5px;
	padding: 0.5em 1em;
	cursor: pointer;
	font-weight: 600;
	color: rgb(54, 187, 154);
}

button[type="submit"] {
	background-color: var(--color-primary);
	margin-left: 1rem;
	color: white;
}

button[type="reset"] {
	background-color: white;
	margin-left: 1rem;
	color: var(--color-primary);
}

/* **************** HOME STYLES ******************* */
.user {
	font-weight: 600;
	font-size: 0.85rem;
}

.user-info {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-info p {
	margin-right: 1rem;
}

.container {
	width: 90%;
	margin: 1rem auto;
	text-align: center;
}

.container h1 {
	margin-bottom: 0.8rem;
	font-size: 1.7rem;
}

/* **************** BALANCE CARD STYLES ******************* */
.balance-wrap {
	margin: 1rem auto;
	background-color: var(--color-primary-light);
	border-radius: 10px;
	text-align: center;
	max-width: 25rem;
	color: var(--color-text-light);
	padding: 1em 0;
}

.balance-wrap h3 {
	margin: 0.5em 0;
}

.balance-wrap p {
	letter-spacing: 2px;
	font-size: 0.9rem;
	font-weight: 600;
}
